<ng-template #skeleton>
    <app-skeleton></app-skeleton>
</ng-template>


<ng-container *ngIf="isLoaded; else skeleton">
    <h2 id="h2">¡Click en la respuesta correcta!</h2>
    <div class="contenedor">
    
    
        <div class="centrar">
            <div class="medio">
                <p id="num1">{{N2}}</p>
            </div>
            <div class="medio">
                <p>/</p>
            </div>
            <div class="medio">
                <p id="num2">{{N1}}</p>
            </div>
        </div>
    
    <div class="principal">
    
            <div class="izq">
              
<!--               
                <div id="numeros">
                    <div *ngFor="let v of miArray"  class="card" (click)="checkAnswer(v)">{{v}}</div>
                </div> -->
    
            </div>
    
            <!-- <div class="der">
    
                <div class="container">
                    <div class="box signin">
                        <h2>¡Gracias por la ayudita!</h2>
                        <button class="signinBtn">Regresar</button>
                    </div>
    
                    <div class="box signup">
                        <h2>¿Necesitas ayuda?</h2>
                        <button class="signupBtn">Sí</button>
                    </div>
    
                    <div class="formBx">
                        <div class="form signinform">
    
                            <img src="ayuda.jpg" alt="1">
    
                        </div>
                        <div class="form signupform">
    
                            <img src="ayudaFacil.JPG" alt="2">
    
                        </div>
                    </div>
                </div>
            </div> -->
        </div> 
    </div>
    
    
</ng-container>

