@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display-swap');

* {
  background: #121212;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.contenedor {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contenedor .centrar .medio p {
  color: #fff;
}

#h2 {
  color: #fff;
  padding: 10px;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.nono {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajusta el espacio entre elementos según tus necesidades */
}

.centrar {
  display: flex;
  padding: 10px; /* Ajusta el padding según tus necesidades */
  height: 100%;
  flex-wrap: wrap; /* Añadido para adaptarse en pantallas pequeñas */
}

.centrar .medio p {
  font-size: 4vh; /* Ajusta el tamaño del texto según tus necesidades */
}

.medio {
  flex: 1;
  text-align: center;
  align-items: center;
}

.azar {
  display: flex;
}

.principal {
  display: flex;
}

.izq {
  flex: 75%;
}

.der {
  flex: 25%;
}

#numeros .card {
  user-select: none;
  flex: 1 1 auto;
  height: 70px;
  border-radius: 8px;
  background: #5e5cfc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  font-size: 3em; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: 700;
  border: 10px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
  transform-origin: 50% 100%;
  filter: hue-rotate(calc(var(--i) * 50deg));
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Ajusta el padding según tus necesidades */
}

#numeros .card:hover {
  transform: scale(1.1);
  z-index: 1000;
  background: #f43648;
}

#numeros {
  position: relative;
  width: 100%;
  padding: 15px; /* Ajusta el padding según tus necesidades */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
