<h1>INSTRUCCIONES</h1>
<p>1. Observa los dos números que aparecen en la pantalla.</p>
<p>2. Recuerda que la suma es una operación en la que añades un numero al otro para obtener un resultado.</p>
<p>3. Observa las seis alternativas que se te presentan.</p>
<p>4. Realiza la suma mentalmente o apóyate con algo externo.</p>
<p>5. Busca la suma que calculaste entre las seis opciones.</p>
<p>6. Click para marcar la respuesta que calculaste.</p>
<p>7. Asegúrate de que has seleccionado la respuesta que consideras correcta.</p>
<p>8. En caso de seleccionar la respuesta incorrecta, repita desde el paso 4.</p>
<p>9. Si seleccionó la respuesta correcta, puede seguir practicando más y más.</p>
