

<div class="tabs">
    
    <input id="home" type="radio" name="tabsMenu" checked>
    <input id="profile" type="radio" name="tabsMenu">
    <input id="likes" type="radio" name="tabsMenu">
    <input id="settings" type="radio" name="tabsMenu">
    <input id="support" type="radio" name="tabsMenu">

    <div class="buttons">
        <label for="home" routerLink="inicio"><i class="fa-solid fa-house"></i></label>
        <label for="profile" routerLink="/layout/perfil"><i class="fa-solid fa-user" ></i></label>
        <label for="likes" routerLink="/layout/registerLogin"><i class="fa-solid fa-id-card"></i></label>
        <label for="settings"><i class="fa-solid fa-gear"></i></label>
        <label for="support" onclick="window.open(`http://localhost:5000/`)" ><i class="fa-solid fa-headset"></i></label>

        <div class="underline"></div>
    </div>
</div>
