

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #121212; */
    justify-content: center;
    align-items: center;
}

/* body {
    display: flex;
    min-height: 100vh;
} */

.tabs input {
    visibility: hidden;
    display: none;
}



.buttons {
    position: sticky;
    width: 100%;
    top:0;
    z-index: 1;
    display: flex;
    gap: 80px;
    padding: 30px 40px;
    border-bottom: (1px solid #121212);
    background: #121212;
    overflow: hidden;
    /* border-radius: 20px; */
}

.buttons label {
    width: 20%;
    font-size: 1.75em;
    -webkit-text-stroke: 1px #fff;
    color: #121212;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.buttons label:hover {
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
}

.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3),
.tabs input:nth-child(4):checked ~ .buttons label:nth-child(4),
.tabs input:nth-child(5):checked ~ .buttons label:nth-child(5) {
    color: #fff;
    opacity: 1;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
   
    left: 50%;
}

.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 5px;
    /* background: #f00; */
    transition: 0.5s;
}

.underline::before {
    content: '';
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
    transform: translateX(-50%);
    width: 40px;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff) drop-shadow(0 0 30px #fff) drop-shadow(0 0 50px #fff);
}

.underline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff) 
    drop-shadow(0 0 30px #fff) drop-shadow(0 0 50px #fff) blur(5px);
}

.tabs input:nth-child(1):checked ~ .buttons .underline{
    left: 0;
}

.tabs input:nth-child(2):checked ~ .buttons .underline{
    left: 20%;
}

.tabs input:nth-child(3):checked ~ .buttons .underline{
    left: 40%;
}

.tabs input:nth-child(4):checked ~ .buttons .underline{
    left: 60%;
}

.tabs input:nth-child(5):checked ~ .buttons .underline{
    left: 80%;
}