<div class="titulo">
    <h1>INSTRUCCIONES</h1>
</div>
<div class="contenido">
    <h3>1. Observa los dos números que aparecen en la pantalla.</h3>
    <h3>2. Recuerda que la resta es una operación en la que sustraes un número de otro para obtener un resultado.</h3>
    <h3>3. Observa las seis alternativas que se te presentan.</h3>
    <h3>4. Realiza la resta mentalmente o apóyate con algo externo.</h3>
    <h3>5. Busca la resta que calculaste entre las seis opciones.</h3>
    <h3>6. Haz clic para marcar la respuesta que calculaste.</h3>
    <h3>7. Asegúrate de que has seleccionado la respuesta que consideras correcta.</h3>
    <h3>8. En caso de seleccionar la respuesta incorrecta, repite desde el paso 4.</h3>
    <h3>9. Si seleccionaste la respuesta correcta, puedes seguir practicando más y más.</h3>
</div>
