<!-- <div class="contenedor">
    <div class="centrar">
        <div class="medio"> 
            <p id="num1"></p>
        </div> 
        <div class="medio">
            <p>+</p>
        </div>
        <div class="medio">
            <p id="num2"></p>
        </div>
    </div> 

    <div class="principal">
        <div class="izq">
            <div id="container">
        
                <div id="PR1" class="card" style="--i:-2;">-2</div>
                <div id="PR2" class="card" style="--i:-1;">+1</div>
                <div id="PR3" class="card" style="--i:0;">0</div>
                <div id="PR4" class="card" style="--i:1;">1</div>
                <div id="resultadoSuma" class="card" style="--i:2;">2</div>
            </div>
            <div id="numeros" class="numeros-container"></div>
        </div>

        
</div>

<p>Resultado de la suma: <span id="resultadoSuma"></span></p> -->
