<!-- <app-barrita></app-barrita> -->
<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-slider></app-slider> -->
<!-- <app-galeria></app-galeria> -->
<!-- <app-titulo></app-titulo> -->
<!-- <app-botones></app-botones> -->
<!-- <app-memoria></app-memoria>     -->
<!-- <app-perfiles></app-perfiles> -->
<!-- <app-cartas></app-cartas> -->
<!-- <app-cubo></app-cubo> -->
<!-- <app-liquido></app-liquido> -->
<!-- <app-fotomancha></app-fotomancha> -->
<!-- <app-register-login></app-register-login> -->
<!-- <app-nivel-facil></app-nivel-facil> -->
<!-- <app-fondo-nivel></app-fondo-nivel> -->
<!-- <app-suma></app-suma> -->
<!-- <app-n-aleatorio></app-n-aleatorio> -->


<router-outlet></router-outlet>

