.sound-controller {
  display: flex;
  align-items: center;
}

.btn {
  font-size: 3rem;
  margin-right: 10px; /* Reducí el margen para que los botones estén más cerca */
}

.volume-slider {
  width: 380px;
  margin-bottom: 0;
}