@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root {
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.login {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas:
          'loginBx  login__form';

}

.loginBx { grid-area: loginBx; }
.login__form { grid-area: login__form; }

.loginBx {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login__background {
  position: absolute;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: .5s;

}

.SesionBx {  
  text-align: center;
  backdrop-filter: blur(50px);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: auto;
}

.title{
  color: #fff;
}

.logo{
  width: 120px;
  height: 120px;
}


.btn{
  width: 100%;
  padding: 10px 0;
  background: #fff;
  border: none;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
  color: #071426;
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 255);
}

.login__form {
  position: relative;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  width: 500px;
}
.iniciarSesion, .registerSesion {
  gap: 15px;
}
.login__form .form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: .5s;
  padding: 0 20px;
  gap: 15px;
}

.login__form .form.signupform {
  top: 100%;
  transition-delay: 0s;
}

.slide .login__form .form.signupform {
  top: 0%;
  transition-delay: 1s;
}

.login__form .form.signinform {
  top: 0%;
  transition-delay: 1s;
}

.slide .login__form .form.signinform {
  top: 100%;
  transition-delay: 0s;
}

.login__form .form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.login__form .form form input {
  width: 100%;
  outline: none;
  font-size: 16px;  
  border: 1px solid #333;
}



.login__form h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bolder;
}

.login__form .inputBox {
  position: relative;
  width: 100%;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder {
  color: #fff;
}

.inputBox i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login__form .remenber {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remenber label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remenber a {
  color: #fff;
  text-decoration: none;
}

.remenber a:hover {
  text-decoration: underline;
}

.login__form .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  border: 2px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
  color: #071426;
  font-weight: 600;
  transition: 0.5s;
}

.login__form .btn:hover {
  /* background: #469aea; */
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 255);

}

.login__form .register {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  margin: 20px 0 15px;
}

.register {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.register a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.register a:hover {
  text-decoration: underline;
}




@media (max-width: 800px) {
  .login {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "login__form"
      "loginBx"
                      ;

  } 


  .login__form {
    width: calc(100% - 30px);
  }

  .loginBx {
    display: none;
  }
 
}