<div class="container">
    <div class="box" data-color="clr1">
        <div class="imgBx"><img src="assets/su.png"  alt="signo+"></div>
        <div class="glass" (click)="openDialogSuma()">
            <h3>Nivel 1<br><span>SUMA</span></h3>
            <ul>
                <a id="open" style="--i:2;"><i class="fa-solid fa-file-word"></i></a>
            </ul>
        </div>
    </div>

    <div class="box" data-color="clr2">
        <div class="imgBx"><img src="assets/signoresta.png" alt="signo-"></div>
        <div class="glass" (click)="openDialogResta()">
            <h3>Nivel 2<br><span>RESTA</span></h3>
            <ul>
                <a id="open" style="--i:2;" ><i class="fa-solid fa-file-word"></i></a>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="modal-container" id="modal_container">
    <div class="modal">
        <h1>Ventana Modal</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas harum sit, totam, ullam illo repudiandae rem facere debitis distinctio quaerat iure in quae itaque odit corrupti, ex libero. Omnis, voluptate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque minus illum, maxime veritatis a obcaecati rem quae accusamus cupiditate quia provident asperiores eum nam voluptatem molestiae inventore autem in.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, pariatur dolores! Neque quisquam quis error eveniet eaque, ea natus commodi porro magnam aut quas libero sed et iure optio ex!</p>

        <a id="close" style="--i:1;"><i class="fa-solid fa-right-to-bracket"></i></a>

        <button id="close">
            Cerrar
        </button>
    </div>
</div> -->



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />

