<div class="container">
    <div class="box" data-color="clr1">
        <div class="imgBx"><img src="assets/su.png"  alt="signo+"></div>
        <div class="glass">
            <div class="div" style="width: 100%; background: transparent;" (click)="openDialogSuma()">
                <h3>Nivel 1<br>Preescolar<br><span>SUMA<br>(2-3)años</span></h3>
            </div>
            <ul>
                <a id="open" (click)="openDialogMensajeSuma()" style="--i:2;"><i class="fa-solid fa-file-word"></i></a>
            </ul>
        </div>
    </div>

    <div class="box" data-color="clr2">
        <div class="imgBx"><img src="assets/signoresta.png" alt="signo-"></div>
        <div class="glass">
            <div class="div" style="width: 100%; background: transparent;" (click)="openDialogResta()">
                <h3>Nivel 2<br>Preescolar<br><span>RESTA<br>(2-3)años</span></h3>
            </div>
            <ul>
                <a id="open" (click)="openDialogMensajeResta()" style="--i:2;" ><i class="fa-solid fa-file-word"></i></a>
            </ul>
        </div>
    </div>
</div>







