<div class="container">
    <div class="box" data-color="clr1">
        <div class="imgBx"><img src="assets/signopor.png" alt="signo+"></div>
        <div class="glass"  (click)="openDialogMultiplicacion()">
            <h3>Nivel 3<br><span>MULTIPLICACIÓN</span></h3>
            </div>
        <ul>
            <a (click)="openDialogMensajeMultiplicacion()" style="--i:2;"><i class="fa-solid fa-file-word"></i></a>
        </ul>
    </div>

    <div class="box" data-color="clr2">
        <div class="imgBx"><img src="assets/signodiv.png" alt="signo-"></div>
        <div class="glass"  (click)="openDialogDivision()">
            <h3>Nivel 4<br><span>DIVISIÓN</span></h3>
        </div>
        <ul>
            <a (click)="openDialogMensajeDivision()" style="--i:2;"><i class="fa-solid fa-file-word"></i></a>
        </ul>
    </div>
    

</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
