*{
    margin: 0;
    padding: 0;
    background: #121212;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex-wrap: wrap;
    height: 100vh;
}

.container .box{
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
}

.container .box .imgBx{
    position: absolute;
    inset: 0;
    border-radius: 12px;
    /* border: 4px solid rgba(0,0,0,0.2); */
    /* border: 50px solid #121212; */

}

.container .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 450px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 10px;
}

.container .box:hover .imgBx img{
    opacity: 0.5;
}

.container .box .glass{
    position: absolute;
    inset: 0;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 15px 15px rgba(0,0,0,0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    scale: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .box .glass::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    /* background: rgba(255,255,255,0.05); */
}

.container .box:hover{
    transform: rotate(-15deg);
}

.container .box:hover .glass{
    opacity: 1;
    scale: 1;
    transform: rotate(20deg);
}

.container .box .glass h3{
    font-size: 3em;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 0.8em;
    background: none;
}

.container .box .glass h3 span{
    font-weight: 400;
    font-size: 0.5em;
    background: none;

}

.container .box ul{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 50px;
    text-align: center;
    align-items: center;
}

.container .box ul a{
    color: #fff8;
    font-size: 30px;
    scale: 0;
    transition: 0.25s;
    transition-delay: scale calc(0.2s * var(--i));
    
}

.container .box:hover ul a{
    scale:1;
}

.container .box ul a:hover{
    color: #fff;
}

@media only screen and (max-width: 600px) {

    .container{
        gap: 0px;  
        margin: auto;
        height: 91.5vh;
    }
    
    .container .box{
        position: sticky;
        width: 80%;
        height: 33%;
    }
    
}