<div class="container">
    <div class="box" data-color="clr1">
        <div class="imgBx"><img src="assets/signoDificil.png" alt="signo+"></div>
        <div class="glass" routerLink="/layout/nivelDificil/nivelFinal" (click)="openDialogMemoria()">
            <h3>Nivel Final<br><span>???????</span></h3>
            <ul>
                <a href="https://www.coolbet.com/pe/deportes/recommendations" target="_blank" style="--i:2;"><i class="fa-solid fa-file-word"></i></a>
            </ul>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
