@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display-swap');

*, ::after, ::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
body {
    background: #121212;
}
 

.boxOpen:after,
.boxMatch:after{
    transform: rotateY(180deg);
}   
