    
    <main>

                <div class="content">
                    <h2>DoraMath</h2>
                    <h2>DoraMath</h2>
                </div>  
        
        <div class="partir">
                <section class="niveles">
                    <img src="assets/Suma.jpg" routerLink="/layout/nivelFacil" alt="1">
                    <img src="assets/medio.jpg" routerLink="/layout/nivelMedio" alt="2">
                    <img src="assets/dif.jpg" routerLink="/layout/nivelDificil" alt="3">
                </section>
            

                <section class="sectionLiquid">
                    
                    <div class="glass" style="--i:1;">
                        <div class="inner">
                            <div class="liquid"></div>
                        </div>
                    </div>
                    
                    <div class="glass" style="--i:2;">
                        <div class="inner">
                            <div class="liquid"></div>
                        </div>
                    </div>
                    
                    <div class="glass" style="--i:3;">
                        <div class="inner">
                            <div class="liquid"></div>
                        </div>
                    </div>
                    
                </section>
        </div>
        
        
        
        
        
        
    </main>