<main>

    <app-titulo></app-titulo>
    
    <div class="flex">
        <h2>¡Click para jugar!</h2>
        <h3>Nivel fácil / Nivel Medio / Nivel Difícil</h3>
        <section class="niveles">
            <img class="tooltip" data-text="NIVEL FACIL" src="assets/Suma.jpg" routerLink="/layout/nivelFacil" alt="1">
            <img class="tooltip" data-text="NIVEL FACIL" src="assets/medio.jpg" routerLink="/layout/nivelMedio" alt="2">
            <img class="tooltip" data-text="NIVEL FACIL" src="assets/dif.jpg" routerLink="/layout/nivelDificil" alt="3">
        </section>

        <!-- <app-liquido class="liquido"></app-liquido> -->
            
    </div>


</main>