main {
    height: 100dvh;
}

.flex {

    & h2 {
        color: white;
        padding-top: 110px;
        text-align: center;
    }

    & h3 {
        color: white;
        text-align: center;
    }
}

.liquido {
    position: absolute;
    bottom: 0;
    right: 0;
}
.niveles {
    display: flex;
    height: 400px;
}

.niveles img {
    margin-top: 80px;
    height: 100%;
    width: 100px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .65;
    transition: .5s ease;
}

.niveles img:hover{
    margin-top: 80px;
    cursor: pointer;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
}



.tooltip {
    position: relative;
  }
  
  .tooltip:hover::before {
    content: attr(data-text);
    position: absolute;
    top: 230px; 
    left: 0;
    transform: translateX(-50%);
    background-color: red;
    color:white;
    font-weight: 700;
    border-radius: 4px;
    filter: 16px 14px 10px;
    padding: 2px 10px;
    font-size: 150px;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: opacity .5s;
    z-index: 10000;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
  
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
  }