    <div class="content">
        <h2>DoraMath</h2>
        <h2>DoraMath</h2>
    </div>  
    
    <div class="partir">
        <div class="mitad izquierda">
            <section>
                <img src="assets/Suma.jpg" routerLink="/layout/nivelFacil" alt="1">
                <img src="assets/medio.jpg" routerLink="/layout/nivelMedio" alt="2">
                <img src="assets/dif.jpg" routerLink="/layout/nivelDificil" alt="3">
                <!-- <img src="assets/dif.jpg" routerLink="/layout/nivelFacil" alt="3"  onclick="document.getElementById('miA').click()"  (click)="fna()"   > -->

                <a id="miA" href="" style="display: none;" target="_blank" ></a>
                <a id="miB" href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" style="display: none;" target="_blank" ></a>
                <a id="miC" href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" style="display: none;" target="_blank" ></a>
            </section>
        </div>

        <div class="mitad derecha">
            <section class="sectionLiquid">
                
                <div class="glass" style="--i:1;">
                    <div class="inner">
                        <div class="liquid"></div>
                    </div>
                </div>
            
                <div class="glass" style="--i:2;">
                    <div class="inner">
                        <div class="liquid"></div>
                    </div>
                </div>
            
                <div class="glass" style="--i:3;">
                    <div class="inner">
                        <div class="liquid"></div>
                    </div>
                </div>
            
            </section>
        </div>
    </div>
 




 