<div class="titulo">
    <h1>INSTRUCCIONES</h1>
    <h5>¿Has jugado memoria?</h5>
</div>
<div class="contenido">
    <h3>1. Aquí aplicarás todo lo aprendido en un solo nivel</h3>
    <h3>2. Selecciona la caja para ver la operación que hay detrás</h3>
    <h3>3. Realiza las operaciones mentalmente o apóyate con algo externo.</h3>
    <h3>4. Tendrás que encontrar el mismo resultado con dos diferentes operaciones.</h3>
    <h3>5. Si seleccionas dos cajas con el mismo resultado de operación harás MATCH. En todo caso regrese al paso 2</h3>
    <h3>6. Una vez realizado match, lo que sigue es más fácil :')</h3>
</div>
